streamlit>=1.32.0
transformers==4.44.2
torch==2.1.2
tokenizers==0.19.1
sentence-transformers==2.7.0
nltk
youtube-transcript-api
langchain==0.2.16
langchain-community==0.2.16
faiss-cpu==1.7.4
